{% extends 'base.html.twig' %}

{% block title %}Cicada3301{% endblock %}
{% block javascripts %}
    <script src=""></script>
{% endblock %}
{% block body %}
    <div class="menu-box">
        <div class="flex-box">
            <a href="http://s93577.hostru09.fornex.host/start.php" class="start">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Начать путь
            </a><div class="space-between"> </div>
            <a href="http://s93577.hostru09.fornex.host/achievements.php" class="acieve">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Навигация
            </a><div class="space-between"> </div>
            <a href="http://s93577.hostru09.fornex.host/settings.php" class="settings">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Настройки
            </a><div class="space-between"> </div>
            <a href="http://s93577.hostru09.fornex.host/logout.php" class="logout">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Выйти
            </a>
        </div>
    </div>
    <script src="js/main.js"></script>
{% endblock %}
