html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

h2 {
    color: whitesmoke;
}


main {
    display: flex;
    position: relative;
    height: 100%;
}

header {
    padding: 0 30px;
    position: sticky;
    display: flex;
    gap: 20px;
    align-items: center;
    width: 90%;
    top: 0;
}

.logout {
    text-decoration: none;
    transition: .5s;
    color: white;

}

.username {
    color: white;
}

.logout:hover
{
    color: #03e9f4;
}

.back {
    margin-right: auto;
    height: 50px;
}
.back svg{
    height: 100%;
}

.menu-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.level-box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 300px;
    height: 100px;
    border-radius: 50%;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    transition: .5s;
}

.achieve-box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.achieve-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    transition: .5s;
}
.menu-box .flex-box
{
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    justify-content: center;
}
.login-box .space-between
{
    display: flex;
    position: relative;
    flex: 2;
    justify-content: flex-center;
}
.menu-box .flex-box .space-between
{
    display: flex;
    position: relative;
    flex: 2;
    justify-content: flex-center;
}
.menu-box .flex-box a span {
    position: absolute;
    display: block;
}

.menu-box .flex-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

.ach-icon {
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

.level-box:hover, .achieve-box:hover{
    box-shadow: 0 15px 25px rgba(255,255,255,.6);
}

a{
    text-decoration: none;
    color: white;
}

.level-box:hover{
    text-decoration: none;
    color: #03e9f4;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.menu-box .flex-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}
.tooltip-inner {
    white-space: pre-line;
}
@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.menu-box .flex-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.menu-box .flex-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}